<!-- Begin MailChimp Signup Form -->
<!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css"> -->
<style type="text/css">
  #mc_embed_signup {}
</style>
<div id="mc_embed_signup">
  <form action="//greig.us6.list-manage.com/subscribe/post?u=906a49eea090b21690d7c7375&amp;id=118e249820" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="tc mt5 mh3 mh5-m mh6-l pa2 pa4-ns pb4 mw700" id="mc_embed_signup_scroll" style="background: #8fffb4">
      <p class="f4 f3-ns measure mb4 normal sans-serif tc lh-copy pa2 pa0-ns">Join 1,997 readers receiving my thoughts on life, design and making stuff happen each Sunday</p>
      <input type="email" value="" name="EMAIL" class="input-reset pa2" id="mce-EMAIL" placeholder="Your email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_906a49eea090b21690d7c7375_118e249820" tabindex="-1" value=""></div>
      <input type="submit" value="Count me in!" name="subscribe" id="mc-embedded-subscribe" class="pointer Xbr2 input-reset pa2 bg-black white">
    </div>
  </form>
</div>

<!--End mc_embed_signup-->
