<!-- Begin MailChimp Signup Form -->
<form class="br2 sans-serif validate tc mt5 mh0 pa2 pa4-ns pb4 mw700" style="background: #8fffb4; background: -webkit-linear-gradient(to top, #38ef7d, #11998e);
background: linear-gradient(to top, #28b9ffbf, #00ffd7)" action="//greig.us6.list-manage.com/subscribe/post?u=906a49eea090b21690d7c7375&amp;id=118e249820" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
  <div class="{{ include.form_class }}" id="mc_embed_signup_scroll">
    {% capture hidedescription %}{{ include.hide_description }}{% endcapture%}
    <!-- {% if hidedescription != 'true' %} -->
    <p class="f4 f3-ns measure mb4 normal sans-serif tc lh-copy pa2 pa0-ns">Join 1,997 readers receiving my thoughts on life, design and making stuff happen each Sunday</p>
    <!-- {% endif %} -->
    <input type="email" value="" name="EMAIL" class="input-reset pa2 br2" id="mce-EMAIL" placeholder="Your email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_906a49eea090b21690d7c7375_118e249820" tabindex="-1" value=""></div>
    <input type="hidden" name="SOURCE" id="SOURCE" value="{{ page.url }}">
    <input type="submit" value="Count me in!" name="subscribe" id="mc-embedded-subscribe" class="pointer br2 input-reset pa2 bg-black white">
  </div>
</form>
<!--End MailChimp Signup Form-->
<!--
background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e)
background: linear-gradient(to bottom, #28b9ffbf, #00ffd7) -->
