{% assign h2 = '<h2' %}
{% assign h2_styled = '<h2 class="f3 f2-ns w6 mt5 mb4 normal sans-serif"' %}
{% assign h3 = '<h3' %}
{% assign h3_styled = '<h3 class="f4 f4-ns measure b lh-copy tl mt4 mb0 normal sans-serif"' %}
{% assign pstring = '<p>' %}
{% assign pstring_styled = '<p class="f4 f3-ns measure lh-copy tl">' %}
{% assign blockquote = '<blockquote>' %}
{% assign blockquote_styled = '<blockquote class="ma0 f4 f3-ns measure lh-copy tl">' %}
{% assign cite = '<cite>' %}
{% assign cite_styled = '<cite class="sans-serif tracked ttu normal f6 fs-normal">' %}
{% assign ul = '<ul>' %}
{% assign ul_styled = '<ul class="f4 f3-ns measure tl lh-copy pl0">' %}
{% assign ol = '<ol>' %}
{% assign ol_styled = '<ol class="f4 f3-ns measure tl lh-copy">' %}
{% assign list_item_ = '<li>' %}
{% assign list_item_styled = '<li class="lh-copy">' %}
