---
layout: default
permalink: /category/
title: Categories
---
{% include style_snippets.html %}

<section id="content" class="center">
<div>
  <div class="mb5 ph3 ph5-m ph6-l w-100">
    <h1 class="mw7 mb0 f3 f2-m f1-l lh-title normal sans-serif">{{page.title}}</h1>
    {{ pstring_styled }}{{page.description}}</p>
  </div>
  <div class="bt b--light-gray mv5">
    {% for post in site.categories[page.category] %} {% if post.url %}
    <article class="mb5 ph3 ph5-m ph6-l">
      <h3 class="f3 f3-l mb2 lh-title center normal sans-serif lh-title"><a href="{{ post.url }}" class="link">{{ post.title }}</a></h3>
      <p class="f4 mt0 measure lh-copy">{{ post.excerpt | strip_html | truncatewords:30 }}</p>
    </article>
    {% endif %} {% endfor %}
  </div>

<div class="pa3 pa5-m pa6-l pt2-l">
  {% include newsletter-signup.html %}
</div>

</div>
</section>
