<!DOCTYPE html>
<html class="h-100" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include header.html %}

  <body class="home serif Xdebug h-100">

    <div class="min-h-100 w-100 Xbg-bright-green sans-serif" style="background: #8fffb4; background: -webkit-linear-gradient(to top, #38ef7d, #11998e);
    background: linear-gradient(to top, #28b9ffbf, #00ffd7)">
        {% include nav.html %}

        <div class="dt h-100">
            <div class="dtc v-top pt2 pt4-l cf">
                {{ content }}
            </div>
        </div>
    </div>

  </body>

</html>
