---
layout: default
---
{% include style_snippets.html %}
LISTING
<section id="content" class="center">
  <div class="mb5 ph3 ph5-m ph6-l w-100">
    <h1 class="mw7 mb0 f3 f2-m f1-l lh-title normal sans-serif">Articles</h1>
    <p class="mt0 f4 measure lh-copy m0">My latest writing on design, freelancing and making stuff happen.<br>You can also
      <a href="https://gumroad.com/l/reset-your-brain">get my best posts as a free ebook</a>.</p>

  </div>

    <div class="bt b--light-gray mv5">

    {% for post in paginator.posts %}
    <article class="mb5 ph3 ph5-m ph6-l">
        <h3 class="f3 f3-l mb2 lh-title center normal sans-serif lh-title"><a href="{{ post.url }}" class="link">{{ post.title }}</a></h3>
        <p class="f4 mt0 measure lh-copy">{{ post.excerpt | strip_html | truncatewords:30 }}</p>
        <!-- <p><small>{{ post.categories }}</small> -->
        <!-- <small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> -->
        </p>
    </article>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
    {% if paginator.previous_page %}
      <a href="/articles/page/{{ paginator.previous_page }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="/articles/page/{{ paginator.next_page }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
    </div>

  </section>
